{{>partial_top}}

<h1>Needless Compass [Prototype]</h1>

<p>Lower score is better, list should be sorted from lowest to highest score.</p>
<p>You can also <a href="house.html">add a house</a> or <a href="site.html">add a site</a>.</p>

<hr/>
<div style="height: 500px; width: 1500px; overflow: hidden;">
    <div style="width: 50%; float: left;">

        <table border="1">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Score: Route</th>
                    <th>Address</th>
                </tr>
                <tr>
                    <td>realtor.com 1/31/2014</td>
                    <td align="right">100 %</td>
                    <td>1300 Cricklewood Court, Raleigh, NC 27603, USA</td>
                </tr>
                <tr>
                    <td><a href="house-detail.html">North of Lake Benson</a></td>
                    <td align="right">95 %</td>
                    <td>2015 Gottwald Court, Garner, NC 27529, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 1/31/2014</td>
                    <td align="right">92 %</td>
                    <td>700 Brittley Way, Apex, NC 27502, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 2014/02/28</td>
                    <td align="right">85 %</td>
                    <td>10832 Bexhill Drive, Cary, NC 27518, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 2014/02/28</td>
                    <td align="right">83 %</td>
                    <td>214 Shillings Chase Drive, Cary, NC 27518, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 1/31/2014</td>
                    <td align="right">75 %</td>
                    <td>116 Honorable Place, Garner, NC 27529, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 1/31/2014</td>
                    <td align="right">74 %</td>
                    <td>491 Waterville Street, Raleigh, NC 27603, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 1/31/2014</td>
                    <td align="right">72 %</td>
                    <td>317 Tallowwood Drive, Garner, NC 27529, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 1/31/2014</td>
                    <td align="right">65 %</td>
                    <td>121 Acentala Court, Raleigh, NC 27603, USA</td>
                </tr>
                <tr>
                    <td>Holland Farms Cary</td>
                    <td align="right">51 %</td>
                    <td>Holland Bend Drive, Cary, NC 27519, USA</td>
                </tr>
                <tr>
                    <td>Lot near Lake Benson</td>
                    <td align="right">48 %</td>
                    <td>8004 Lake Shore Drive, Garner, NC 27529, USA</td>
                </tr>
                <tr>
                    <td>realtor.com 2/8/2014</td>
                    <td align="right">48 %</td>
                    <td>4704 Swordfish Drive, Raleigh, NC 27603, USA</td>
                </tr>
                <tr>
                    <td>Maggie Run</td>
                    <td align="right">16 %</td>
                    <td>Maggie Run Lane, Fuquay Varina, NC, USA</td>
                </tr>
                <tr>
                    <td>Current Home</td>
                    <td align="right">0 %</td>
                    <td>80 Sophia Lane, Willow Spring, NC 27592, USA</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<footer>
    <hr>
    <a href="https://github.com/jewzaam/needless-compass-prototype">Source Code</a> |
    <a href="http://www.gnu.org/licenses/gpl.txt">GPLv3 license</a> |
    <a href="http://opendatacommons.org/lice nses/odbl/">Data License: ODbL</a> |
    <a href="http://project-osrm.org/">Routes: OSRM</a>
</footer>

{{>partial_bottom}}